<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlexQQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>780C17F31CB10F8C0099AD78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780C180C1CB10F8C0099AD78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780C18171CB10F8C0099AD78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
